/*APPLICATION*/
p {
  font-family: "IM Fell DW Pica SC", serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding: 5px;
  margin: 0;
  background-color: #2c3531;
  box-shadow: "0px";
}
html,
body {
  margin: 0;
  background: radial-gradient(#c3a57a, #625434);
  min-width: 100%;
  min-height: 100%;
}
.App {
  text-align: center;
}
.link {
  text-decoration: none;
}
.icon {
  margin-top: 5px;
  margin-right: 5px;
}
.user-avatar {
  height: 100px;
  width: 80px;
  border-radius: 20px;
  border-style: outset;
  border-color: #cccccc;
}

.user-avatar-login {
  height: 50px;
  width: 40px;
  border-radius: 20px;
  border-style: outset;
  border-color: #cccccc;
  margin: 10px;
}

/* NAVIGATION*/

/*TOPICS*/

.Router {
  background-color: transparent;
}
/*ARTICLES*/

.full-article {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: darkgray;
  border-style: ridge;
  border-color: darkslateblue;
  border: 5px;
  margin: 20px;
  padding: 10px;
}

.full-article-body {
  background-color: white;
  border-style: ridge;
  border-color: black;

  padding: 20px;
  margin: 10px;
}

/*USERS*/

.members-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 4px;
  border-style: ridge;
  border-color: darkslategray;
}

/*COMMENTS*/
.comment-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 4px;
  border-style: ridge;
  border-color: darkslategray;
  margin: 10px 50px 10px 50px;
  padding: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 500px) {
}

h1 {
  font-family: "UnifrakturCook", cursive;
}
h3 {
  font-family: "IM Fell DW Pica SC", serif;
  font-family: "Cutive Mono", monospace;
}

.vote-button {
  background-color: #1c1308;
  color: #e4c49b;
  padding: 5px;
  margin: 5px;
}
